.latest-Head1{
    color: whitesmoke;
    padding: 60px;
    font-size: 20px;
}

@media screen and (min-width:320px) and (max-width:480px){
    .latest-Head1{
        color: whitesmoke;
        padding:60px;
        font-size:16px;
        margin-left: -15%;
        margin-top: -90px;
    }

    .sport1{
        display: none;
        
        
    }

    .sport2{
        display: none;
        
    }

    .sport3{
        position: absolute;
        left:50px;
        top:650px;   
    }

    .sport4{
        display: none;
    }

}